<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,width=device-width,user-scalable=no">
	<title>index</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/custom.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

</head>
<body>

	<div class="top-header">
		<div class="container">
			<div class="row">
				<div class="col-6">
					<div class="ticket-logo">
						<img src="img/logo-img.png">
					</div>
				</div>
				<div class="col-6">
					<div class="ticke-name text-end">
						<h5>E-ticket</h5>
						<p>Booking ID: <span>EMT105141517</span></p>
						<p>Booking on - <span>Mon, 26 Sep 2022 09:40</span></p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="ticket-detail-box">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="ticket-details">
						<h3>Onward Flight</h3>
						<h4>Hyderabad to Dubai | <span>Mon,26Sep2022</span></h4>
					</div>
					<div class="main-div-cls">
						<div class="flight-name">
							<img src="img/indigo-ic.jpg">
							<span>IndiGo 6E-171 <span class="opr-cls">(Operated By: 6E)</span></span>
						</div>
						<div class="ticket-distance">
							<div class="inner-bx">
								<h3>HYD 23:10</h3>
								<p>Mon-26Sep2022</p>
							</div>
							<div class="inner-bx date">
								<p>01h 35m <br>Economy</p>
							</div>
							<div class="inner-bx">
								<h3>BOM 00:45</h3>
								<p>Tue-27Sep2022</p>
								<p>Terminal 2</p>
							</div>
						</div>
						<div class="beggage-info">
							<p>Baggage Info - Check in: 30 KG , Cabin: 7 KG | Roundtrip Fare</p>
						</div>
					</div>
					<div class="main-div-cls">
						<div class="flight-name">
							<img src="img/indigo-ic.jpg">
							<span>IndiGo 6E-63 <span class="opr-cls">(Operated By: 6E)</span></span>
						</div>
						<div class="ticket-distance">
							<div class="inner-bx">
								<h3>BOM 08:55</h3>
								<p>Tue-27Sep2022</p>
								<p>Terminal 2</p>
							</div>
							<div class="inner-bx date">
								<p>03h 00m <br>Economy</p>
							</div>
							<div class="inner-bx">
								<h3>DXB 10:25</h3>
								<p>Tue-27Sep2022</p>
								<p>Terminal 1</p>
							</div>
						</div>
						<div class="beggage-info">
							<p>Baggage Info - Check in: 30 KG , Cabin: 7 KG | Roundtrip Fare</p>
						</div>
					</div>
					<div class="travel-details">
						<h3>Traveller Details</h3>
						<div class="travel-table ">
							<table width="100%" class="table-bordered">
								<thead>
									<tr>
										<th>Passenger</th>
										<th>Airline PNR</th>
										<th>Ticket Number</th>
										<th>Travel Insurance</th>
										<th>Class | Cabin</th>
										<th>Add-Ons <span>Seat No</span></th>
										<th>Status</th>
									</tr>
								</thead>
								<tr>
									<td data-label="Passenger">Mr. Yamunesh Anumandla</td>
									<td data-label="Airline PNR">OJGQ4Y</td>
									<td data-label="Ticket Number">OJGQ4Y/1/1</td>
									<td data-label="Travel Insurance">Not Confirmed</td>
									<td data-label="Class | Cabin">L,L | Economy</td>
									<td data-label="Add-Ons | Seat No">24A,24A</td>
									<td data-label="Status"><span class="status">Confirm</span></td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="top-header pt-4">
		<div class="container">
			<div class="row">
				<div class="col-6">
					<div class="ticket-logo">
						<img src="img/logo-img.png">
					</div>
				</div>
				<div class="col-6">
					<div class="ticke-name text-end">
						<h5>E-ticket</h5>
						<p>Booking ID: <span>EMT105141517</span></p>
						<p>Booking on - <span>Mon, 26 Sep 2022 09:40</span></p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="ticket-detail-box">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="ticket-details">
						<h3>Return Flight</h3>
						<h4>Dubai to Hyderabad | <span>Sat,08Oct2022</span></h4>
					</div>
					<div class="main-div-cls">
						<div class="flight-name">
							<img src="img/indigo-ic.jpg">
							<span>IndiGo 6E84 <span class="opr-cls">(Operated By: 6E)</span></span>
						</div>
						<div class="ticket-distance">
							<div class="inner-bx">
								<h3>DXB 17:55</h3>
								<p>Sat-08Oct2022</p>
								<p>Terminal 1</p>
							</div>
							<div class="inner-bx date">
								<p>04h 45m <br>Economy</p>
							</div>
							<div class="inner-bx">
								<h3>BOM22:40</h3>
								<p>Sat-08Oct2022</p>
								<p>Terminal 2</p>
							</div>
						</div>
						<div class="beggage-info">
							<p>Baggage Info - Check in: 30 KG , Cabin: 7 KG | Roundtrip Fare</p>
						</div>
					</div>
					<div class="main-div-cls">
						<div class="flight-name">
							<img src="img/indigo-ic.jpg">
							<span>IndiGo 6E-461 <span class="opr-cls">(Operated By: 6E)</span></span>
						</div>
						<div class="ticket-distance">
							<div class="inner-bx">
								<h3>BOM 06:05</h3>
								<p>Sun-09Oct2022</p>
								<p>Terminal 2</p>
							</div>
							<div class="inner-bx date">
								<p>01h 25m <br>Economy</p>
							</div>
							<div class="inner-bx">
								<h3>HYD07:30</h3>
								<p>Sun-09Oct2022</p>
							</div>
						</div>
						<div class="beggage-info">
							<p>Baggage Info - Check in: 30 KG , Cabin: 7 KG | Roundtrip Fare</p>
						</div>
					</div>
					<div class="travel-details">
						<h3>Traveller Details</h3>
						<div class="travel-table">
							<table width="100%" class="table-bordered">
								<thead>
									<tr>
										<th>Passenger</th>
										<th>Airline PNR</th>
										<th>Ticket Number</th>
										<th>Travel Insurance</th>
										<th>Class | Cabin</th>
										<th>Seat No</th>
										<th>Status</th>
									</tr>
								</thead>
								<tr>
									<td data-label="Passenger">Mr. Yamunesh Anumandla</td>
									<td data-label="Airline PNR">OJGQ4Y</td>
									<td data-label="Ticket Number">OJGQ4Y/1/1</td>
									<td data-label="Travel Insurance">Not Confirmed</td>
									<td data-label="Class | Cabin">L,L | Economy</td>
									<td data-label="Seat No">24A,24A</td>
									<td data-label="Status"><span class="status">Confirm</span></td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="top-header pt-4">
		<div class="container">
			<div class="row">
				<div class="col-6">
					<div class="ticket-logo">
						<img src="img/logo-img.png">
					</div>
				</div>
				<div class="col-6">
					<div class="ticke-name text-end">
						<h5>E-ticket</h5>
						<p>Booking ID: <span>EMT105141517</span></p>
						<p>Booking on - <span>Mon, 26 Sep 2022 09:40</span></p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="summery-box">
		<div class="container">
			<div class="tp-heading">
				<h3>Fare Summary</h3>
				<p>Thank you for making the payment of 33468 INR. Fare details are mentioned below</p>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="sum-table table-responsive">
						<table width="100%" class="table-bordered">
							<tr>
								<th>Fare Details</th>
								<th>Amount (INR)</th>
							</tr>
							<tr>
								<td>Basic Fare</td>
								<td>₹ 26750.00</td>
							</tr>
							<tr>
								<td>Taxes</td>
								<td>₹ 5561.00</td>
							</tr>
							<tr>
								<td>Discount</td>
								<td>₹ (-) 750.00</td>
							</tr>
							<tr>
								<td>Seat Amount</td>
								<td>₹ 1024.00</td>
							</tr>
							<tr>
								<td>Reschedule Charges</td>
								<td>₹ 0.00</td>
							</tr>
							<tr>
								<td>K3</td>
								<td>₹ 883.00</td>
							</tr>
							<tr class="total">
								<td>Total</td>
								<td>₹ 33468.00</td>
							</tr>
						</table>
					</div>
				</div>
				<div class="col-md-6">
					<div class="cencel-time-table">
						<table width="100%" class="table-bordered">
							<tr>
								<th>Hyderabad-Dubai</th>
								<th>Cancellation Charges</th>
							</tr>
							<tr>
								<td>
									<table width="100%">
										<tr>
											<th>Type</th>
											<th>Cancellation Time</th>
										</tr>
										<tr>
											<td>ADT</td>
											<td>72 hours to 4 hours <br>of flight Departure</td>
										</tr>
									</table>
								</td>
								<td>
									<table width="100%">
										<tr>
											<th>Airline</th>
										</tr>
										<tr>
											<td>5000</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</div>

					<div class="cencel-time-table pt-3">
						<table width="100%" class="table-bordered">
							<tr>
								<th>Dubai-Hyderabad</th>
								<th>Cancellation Charges</th>
							</tr>
							<tr>
								<td>
									<table width="100%">
										<tr>
											<th>Type</th>
											<th>Cancellation Time</th>
										</tr>
										<tr>
											<td>ADT</td>
											<td>72 hours to 4 hours <br>of flight Departure</td>
										</tr>
									</table>
								</td>
								<td>
									<table width="100%">
										<tr>
											<th>Airline</th>
										</tr>
										<tr>
											<td>5000</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="cancell-charge">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="cencal-box">
						<h3>Cancellation Charges</h3>
						<h4><b>EaseMyTrip Fee:</b> 500 per pax per sector</h4>

						<div class="term-conditions">
							<h5>Terms & Conditions</h5>
							<ul>
								<li>All passengers, including children and infants, have to present their valid ID proof at the time of check in.</li>
								<li>We recommend you check-in at least 3 hours prior to departure of your domestic flight and 4 hours prior to your international flight</li>
								<li>Carriage and other facilities provided by the carrier are subject to their Terms and Condition. We are not liable for missing any facility of the carrier.</li>
								<li>To cancel tickets in less than 6 hours prior to departure, please contact the airlines directly. We are not at all responsible for any losses on receiving the request in such cases.</li>
								<li>Recheck your baggage with your respective airline before travelling for hassle-free travel experience</li>
								<li>Due to the security, reasons and Government regulations, passengers flying on destination like Jammu and Srinagar are not allow to carry any Hand Baggage.</li>
								<li>Baggage more than specified units is subject to a charge to be paid at the airport during check-in. (Baggage allowance differ for infants)</li>
								<li>Partial cancellation is not allow for Round-trip fares</li>
								<li>Partial cancellation is not allow for tickets booked under Friends & Family fares.</li>
								<li>The No Show refund* should be collected within 90 days from date of departure. Group Booking Rules will be applicable if passengers are 9 or more in numbers. Company is not responsible for any delay or cancellation of flights from airline's end.</li>
								<li>Kindly contact the airline at least 24 Hours before to reconfirm your flight details giving reference of Airline PNR Number.</li>
								<li>All reservations done through our website are as per the terms and conditions of the concerned airlines. Any modification, cancellation and refund of the airline tickets shall be strictly as per the policy of the concerned airlines and we deny all liability in connection thereof.</li>
								<li>Unaccompanied Child: Children below the age of 12 will not be accepted for carriage unless they are accompanied by a person of at least 18 years of age. Such child/children must be seated next to the accompanying adult. The accompanying adult is solely responsible for the well-being of the child/children traveling together with him/her. This also includes ensuring that seats are booked to ensure child/children and an accompanying adult are seated together.</li>
								<li>To review your baggage allowance, please contact Airline well before your flight.</li>
								<li>All time indicated are the local times (in 24 hrs. format) at the relevant airport.</li>
								<li>Company is not responsible for any delay or cancellation of flights from airline's end</li>
								<li>Cancellation and date change fees are applicable before departure and per passenger basis. In case of amendment, along with the airline and EMT fees, you will also have to pay fare difference, if any</li>
								<li>Kindly ensure that you have the relevant visa, transit visa (if applicable), immigration clearance and travel with a passport, with a validity of at least 6 months as on date of travel. (For international travel)</li>
								<li>Some airports have multiple terminals catering to domestic/international flights, please check the departure/arrival terminal of your flight with the airlines before reaching airport.</li>
								<li>Convenience fee is non-refundable in case of ticket cancellation by the user, or flight cancellation by the airline.</li>
								<li>The amount paid for the cancellation protection will not be refunded under this offer at any circumstances.</li>
								<li><b>Check-in Baggage(IndiGo):</b> 15 kg per person(1 Piece only) effective Oct 1St,2020.Excess baggage/additional piece is subject to applicable charges.</li>
								<li><b>Free mandatory web check-in(IndiGo):</b> :Check-in online for free 48 hr to 60 min before flight. Facilitation fee of Rs.200 for airport check-in withassistance.</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="bottom-details pb-4">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="detail">
						<p>Airline Contact Information: Indigo  0124-6173838, 0124-4973838 </p>
						<p>EaseMyTrip Contact Information: 011-431313138 </p>
						<p>Please reference the Airline PNR Number when communicating with the airline regarding this booking. </p>
						<div class="allow-img">
							<img src="img/allowed-img.png">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>


</body>
</html>