:root {
  --font_poppins: "Poppins", sans-serif;
  --fs_sm: 12px;
  --fs_xl: 18px;
  --fs_2xl: 25px;
  --fw_normal: 400;
  --fw_medium: 500;
  --primary: #6941C6;
  --primary_300: #edf3fd;
  --secondary:#000;
   /* #575757; */
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: var(--font_poppins);
  font-weight: var(--fw_normal);
}

.text_primary {
  color: var(--primary);
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* sidebar css start */
#overlay {
  background-color: #000;
  z-index: 50;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

#overlay.show {
  opacity: 0.5;
  visibility: visible;
}

.sidebar {
  border-right: 1px solid #ededed;
  width: 250px;
  background-color: #fff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  z-index: 90;
}

.sidebar_inner {
  padding: 24px 10px;
}

.sidebar_menu li,
.dropdown-menu ul li {
  display: block;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  border-radius: 6px;
}

.sidebar_menu li:hover,
.sidebar_menu li.active {
  background-color: var(--primary_300);
}

.sidebar_menu a,
.dropdown-menu ul a,
.subpage_menu li a,
.subpage_menu li button {
  display: block;
  /* font-size: var(--fs_sm); */
  font-size: 13px;
  color: var(--secondary);
  text-decoration: none;
  font-weight: var(--fw_medium);
  padding: 9.5px 16px;
  line-height: 18px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.subpage_menu li button {
  background-color: transparent;
  border: 0;
}
.sidebar_menu li.active a,
.sidebar_menu li:hover a {
  color: var(--primary);
}

.sidebar_menu li.active a svg path,
.sidebar_menu li:hover a svg path {
  stroke: var(--primary);
}

.menu_icon {
  display: inline-block;
  margin-right: 10px;
}

.menu_icon svg path,
.dropdown-menu ul a svg path {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  stroke: var(--secondary);
}

.sidebar_menu li:hover a svg path,
.dropdown-menu ul a:hover svg path,
.box-btn:hover svg path {
  stroke: var(--primary);
}

.sidebar_menu [data-bs-toggle="collapse"] {
  position: relative;
}

.sidebar_menu [data-bs-toggle="collapse"]::after {
  content: "";
  width: 18px;
  height: 18px;
  background: url(../img/right-angle.svg) no-repeat center center;
  position: absolute;
  right: 8px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.sidebar_menu [data-bs-toggle="collapse"][aria-expanded="false"]::after {
  background: url(../img/right-angle.svg) no-repeat center center;
}

.sidebar_menu [data-bs-toggle="collapse"][aria-expanded="true"]::after {
  background: url(../img/right-angle-primary.svg) no-repeat center center;
  -webkit-transform: translateY(-50%) rotateZ(90deg);
  -ms-transform: translateY(-50%) rotate(90deg);
  transform: translateY(-50%) rotateZ(90deg);
}

/* sidebar css end */

/* header css start */
.header-area {
  padding: 24px 0px;
}

.dropdown-menu {
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 20px;
  margin-top: 5px !important;
  padding-top: 15px;
}

.user-trigger img {
  width: 36px;
  height: 36px;
}

.user-trigger span {
  margin-left: 10px;
  color: #000;
  font-size: var(--fs_sm);
}

.dropdown-menu ul li:not(:last-child) {
  margin-bottom: 7px;
}

.box-btn {
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  padding: 9px 16px !important;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-weight: 500;
  font-size: 12px;
  color: var(--secondary);
}

.box-btn svg {
  margin-right: 6px;
}

.box-btn:hover {
  color: var(--primary);
  border-color: var(--primary);
}

.box-btn:hover {
  border-color: var(--primary);
  color: var(--primary);
}

.box-btn.fill_primary:hover {
  background-color: #454cdee8;
  color: #fff;
}

.box-btn.fill_primary:hover svg path {
  stroke: #fff;
}

.dropdown-menu.user-dropdown {
  min-width: 180px;
}

.notificaion-part {
  margin-right: 28px;
}

.dropdown-menu ul a:hover {
  color: var(--primary);
}

.notification-alert-dot {
  width: 5px;
  height: 5px;
  background-color: #ca1325;
  right: 0px;
  top: -3px;
}

/* header css end */

/* main-content css start */
.sidebar+.v-flex {
  margin-left: 250px;
}

.primary-title {
  font-size: var(--fs_2xl);
  font-weight: 600;
  margin-bottom: 15px;
}

.enquiry-wrap {
  margin-bottom: 15px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.fill_primary {
  background-color: var(--primary);
  border-color: var(--primary);
  color: #fff;
}

.enquiry-right-zone .box-btn {
  margin-left: 18px;
}

.subpage_menu {
  border-bottom: 1px solid #ededed;
  margin-bottom: 25px;
}

.subpage_menu li:not(:last-child) {
  margin-right: 30px;
}

.advertisement {
  margin-bottom: 25px;
  background-color: #ededed;
  border-radius: 6px;
}

.advertisement img {
  border-radius: 6px;
}

.process-count {
  background-color: var(--primary_300);
  color: var(--primary);
  font-size: 10px;
  font-weight: 500;
  line-height: 1;
  padding: 4px 8px;
  border-radius: 31px;
  min-width: 31px;
  text-align: center;
  margin-left: 10px;
}

.checkbox-wrap {
  position: relative;
  font-size: 13px;
  margin: 0;
  line-height: 1.2;
  cursor: pointer;
  width: 15px;
  height: 15px;
  padding: 0;
  color: var(--primary);
}

.checkbox-wrap .checkbox {
  width: 16px;
  height: 16px;
  display: inline-block;
  border: 1.5px solid #959595;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 4px;
}

.checkbox-wrap input[type="checkbox"],
.checkbox-wrap input[type="radio"] {
  max-width: 0;
  max-height: 0;
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

.checkbox-wrap input[type="checkbox"]:checked+.checkbox,
.checkbox-wrap input[type="radio"]:checked+.checkbox {
  background-color: var(--primary);
  border-color: var(--primary);
}

.checkbox-wrap .checkbox::after {
  content: "";
  width: 5px;
  height: 8px;
  border-right: 1.5px solid #fff;
  border-bottom: 1.5px solid #fff;
  position: absolute;
  -webkit-transform: rotateZ(45deg);
  -ms-transform: rotate(45deg);
  transform: rotateZ(45deg);
  left: 4px;
  opacity: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  visibility: hidden;
  top: 1.5px;
}

.checkbox-wrap input[type="checkbox"]:checked+.checkbox::after,
.checkbox-wrap input[type="radio"]:checked+.checkbox::after {
  opacity: 1;
  visibility: visible;
}

.gridjs-td {
  font-size: 12px;
  line-height: 18px;
  color: #575757;
  padding: 10px 15px !important;
}

.gridjs-td {
  font-size: 12px;
  line-height: 18px;
  color: #575757;
  padding: 10px 15px !important;
}

.type-actions a {
  color: var(--primary);
  font-weight: 500;
  text-decoration: none;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  display: inline-block;
}

.type-actions a:not(:last-child) {
  margin-right: 18px;
}

.cell_content p {
  margin-bottom: 5px;
}

.sort-indicator {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.table th,
.table td {
  line-height: 18px;
  color: #787878;
  font-size: var(--fs_sm);
  font-weight: 500;
  vertical-align: middle;
  padding: 10px 15px;
}

.tbl-action-wrap .single-action {
  background-color: transparent;
  border: 0;
  padding: 2px;
  margin-right: 16px;
}

.tbl-action-wrap .box-btn {
  padding: 4px 12px !important;
  padding-left: 5px !important;
}

.orange-text {
  color: #EA8248;
}

.table {
  border: 1px solid #E3E8F3;
  border-radius: 6px;
  overflow: hidden;
  min-width: 1024px;
}

.table thead tr {
  background: #F7F9FE;
  border: 1px solid #E3E8F3;
  height: 50px;
}

.table tr th:first-child,
.table tr td:first-child {
  width: 60px;
}

.table tr th:first-child,
.table tr td:first-child {
  padding-left: 20px;
}

.table tr th:last-child,
.table tr td:last-child {
  padding-right: 20px;
  width: 284px;
}

.tbl-search button[type="submit"] {
  left: 10px;
  top: 47%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background: transparent;
  border: 0;
  padding: 0;
}

.tbl-search .form-control {
  padding-left: 44px !important;
}

.table-query-wrap {
  margin-bottom: 25px;
}

.pagination-size-show {
  white-space: nowrap;
  font-size: 12px;
  line-height: 18px;
  color: #959595;
}

.page-size {
  width: 70px;
  margin: 0 10px;
  height: 38px;
  background-color: #FAFAFA;
  border: 1px solid #EDEDED;
  border-radius: 6px;
  padding-left: 12px;
}

.subpage_menu li a,
.subpage_menu li button {
  position: relative;
  padding: 7px 0 !important;
}
.subpage_menu li button:hover {
	color: var(--primary);
}
.subpage_menu li a::after,
.subpage_menu li button::after {
  content: "";
  position: absolute;
  width: 10%;
  height: 2px;
  background-color: var(--primary);
  left: 0;
  bottom: -5px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  opacity: 0;
  visibility: hidden;
}

.subpage_menu li.active a::after,
.subpage_menu li button.active::after {
  opacity: 1;
  visibility: visible;
  width: 100%;
}

.bottom-pagination-wrapper {
  padding: 30px 0;
}

.tbl-search {
  max-width: 550px;
}

.page-link {
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #959595;
  border: 0;
  border-radius: 6px;
  margin: 0 8px;
  font-weight: 500;
}

.pagination .page-link.active {
  background-color: var(--primary);
}

.page-link[aria-label="Next"],
.page-link[aria-label="Previous"] {
  color: var(--primary);
}

.page-link[aria-label="Next"] svg path,
.page-link[aria-label="Previous"] svg path {
  stroke: var(--primary);
}

.page-link[aria-label="Next"][disabled],
.page-link[aria-label="Previous"][disabled] {
  color: #D9D9D9;
}

.page-link[aria-label="Next"][disabled]:hover,
.page-link[aria-label="Previous"][disabled]:hover {
  background-color: transparent;
}

.page-link[aria-label="Next"][disabled] svg path,
.page-link[aria-label="Previous"][disabled] svg path {
  stroke: #D9D9D9;
}

.page-link:hover {
  background-color: var(--primary_300);
  color: var(--primary);
}

.input-inside textarea.form-control {
  height: 150px;
}

.box-btn.fil_gray:hover {
  background-color: var(--primary);
  color: #fff;
}

.dropdown-menu.filter-dropdown {
  width: 306px;
}

.filter-dropdown .input-inside {
  margin-bottom: 18px;
}

.filter-dropdown .twin-grid {
  grid-gap: 18px;
}

/* main-content css end */

/* modal css start */

.modal-dialog {
  max-width: 750px;
}

.modal-header {
  background-color: #FAFAFA;
  border-bottom: 1px solid #D9D9D9;
}

.twin-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 25px 1fr;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 25px;
}

.input-inside label {
  font-size: 14px;
  line-height: 18px;
  color: #575757;
  margin-bottom: 5px;
  font-weight: 500;
}

.input-inside .form-control {
  background: #FAFAFA;
  border: 1px solid #D9D9D9;
  border-radius: 6px;
  font-size: 12px;
  line-height: 18px;
  color: #959595;
  padding: 9px 15px;
}

.enquery-modal-content .gwin-grid:not(:last-child) .input-inside {
  margin-bottom: 18px;
}

.enquery-modal-content .twin-grid {
  margin-bottom: 18px;
}

.modal-body {
  padding: 24px;
}

.modal-title {
  font-size: var(--fs_xl);
  font-weight: var(--fw_medium);
  color: #000;
}

.modal-content {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #fff;
}

.twin-grid button,
.input-inside .form-control {
  height: 40px;
}

.input-icon {
  background-color: var(--primary);
  width: 40px;
  border-radius: 6px;
}

.with-icon-input .form-control {
  padding-left: 50px;
}

.form-select {
  color: #959595;
  font-size: 12px;
  background-color: #FAFAFA;
  height: 40px;
  padding-left: 15px;
}

/* modal css end */

/* footer css start */
.footer-area {
  background-color: #fafafa;
  padding: 18px 0;
  border-top: 1px solid #EDEDED;
}

.footer-area p {
  font-size: var(--fs_sm);
  color: var(--secondary);
}

/* footer css end */

/* apply-visa page css start */

.apply-query-wrap {
  background: #FFFFFF;
  border: 1px solid #EDEDED;
  border-radius: 6px;
}

.bookmarks-wrapper {
  background: #F7F9FE;
  border-top: 1px solid #E3E8F3;
  border-radius: 0 0 6px 6px;
  padding: 15px 24px;
  display: grid;
  grid-template-columns: auto 100px;
  grid-gap: 15px;
}

.apply-form {
  padding: 20px 24px;
  display: grid;
  grid-template-columns: auto 284px;
  align-items: end;
  grid-gap: 24px;
}

.apply-btns button:not(:last-child) {
  margin-right: 22px !important;
}

.box-btn.style-2 {
  color: var(--primary);
}

.bookmarks-wrapper .lf p {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #787878;
  margin-top: 4px !important;
}

.bookmarks a {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  display: inline-block;
  color: #000000;
  text-decoration: underline;
  transition: .3s;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-right: 15px;
}

.bookmarks a:hover {
  color: var(--primary);
}

.bookmarks-wrapper .lf {
  display: grid;
  grid-template-columns: 80px auto;
  grid-gap: 6px;
}

.apply-query-wrap .box-btn.style-2 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.visa-pricing-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
  max-width: 990px;
  margin-left: auto;
  margin-right: auto;
  padding: 60px 0;
}

.visa-card {
  padding: 30px;
  text-align: center;
  background: #FFFFFF;
  border: 1px solid #EDEDED;
  border-radius: 6px;
  transition: .3s;
}

.visa-card-outer:hover .visa-card {
  background-color: #F7F9FE;
}

.visa-feature-list {
  text-align: left;
  min-height: 135px;
  margin-bottom: 16px;
  margin-top: 25px;
}

.visa-feature-list li {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #787878;
  position: relative;
}

.visa-feature-list li:not(:last-child) {
  margin-bottom: 10px;
}

.visa-card-ft-content p {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #787878;
  margin: 0;
}

.visa-card-ft-content {
  text-align: left;
  min-height: 54px;
}

.visa-card h5 {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #454CDE;
  margin-bottom: 15px;
}

.visa-card h6 {
  font-weight: 600;
  font-size: 25px;
  line-height: 38px;
  text-align: center;
  color: #000000;
  margin-bottom: 15px;
}

.box-btn.fill_black {
  background-color: #000;
  color: #fff;
  text-decoration: none;
  border: 0;
}

.box-btn.fill_green {
  background-color: #25D366;
  border: 0;
  text-decoration: none;
  color: #fff;
}

.box-btn.fill_green:hover svg path,
.box-btn.fill_black:hover svg path {
  stroke: #fff;
}

.send-btns {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
}

.send-btns a:first-child {
  margin-right: 12px;
}

.visa-card-outer {
  position: relative;
  padding-bottom: 0;
  transition: .3s;
}

.visa-card-outer:hover {
  padding-bottom: 50px;
}

.visa-card-outer:hover .send-btns {
  opacity: 1;
  visibility: visible;
}

.additional-info-wrapper {
  background: #F7F9FE;
  border: 1px solid #E3E8F3;
  border-radius: 6px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 24px;
}

.ad-part {
  padding: 24px;
}

.ad-part h4 {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #000000;
  margin-bottom: 12px;
}

.additional-info-wrapper .ad-part:nth-child(2) {
  border-left: 1px solid #E3E8F3;
  border-right: 1px solid #E3E8F3;
}

.accordion-button {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #787878 !important;
  background-color: transparent !important;
  padding: 5px 0;
  padding-right: 20px;
  box-shadow: none !important;
}

.accordion-button:focus {
  outline: none;
  box-shadow: none;
}

.accordion-body {
  padding: 5px 0;
  font-size: 13px;
  border: 0;
}

.accordion-body p {
  font-size: 13px;
}

.accordion-button::after {
  width: 15px;
  height: 15px;
  background-size: contain;
}

.process-list li {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #787878;
}

.process-list li:not(:last-child) {
  margin-bottom: 9px;
}


.process-type h3 {
  font-weight: 600;
  font-size: 25px;
  line-height: 38px;
  text-align: center;
  color: #000000;
  margin-bottom: 30px;
}

.tripple-button {
  display: grid;
  grid-template-columns: 1fr 1.2fr 1fr;
  grid-gap: 24px;
}

.process .enquery-modal-content {
  max-width: 520px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 36px;
}

#process .enquery-modal-content {
  max-width: 520px;
  margin-left: auto;
  margin-right: auto;
}

.modal-dialog.process_modal {
  max-width: 690px;
}

.modal-dialog.step_modal {
  max-width: 850px;
}

.step-modal-content {
  padding: 50px;
}

.step_modal .btn-close {
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 2;
}

.steps {
  background: #F7F9FE;
  border: 1px solid #E3E8F3;
  display: flex;
  align-items: center;
  justify-content: center;
  counter-reset: step;
  padding: 12px;
  margin-bottom: 50px;
}

.steps li {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #959595;
  position: relative;
  padding-left: 38px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.steps li::before {
  content: counter(step);
  counter-increment: step;
  background-color: #959595;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.steps li:not(:last-child) {
  margin-right: 40px;
}

.steps li.active {
  color: var(--primary);
}

.steps li.active:before {
  background-color: var(--primary);
}

.step-top-info h3 {
  font-weight: 600;
  font-size: 25px;
  line-height: 1.3;
  color: #000000;
  margin-bottom: 15px;
}

.step-top-info p {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #787878;
}

.step-top-info {
  margin-bottom: 30px;
}

.checkbox-wrap.with-text {
  margin: 0;
  padding-left: 20px;
  width: auto;
  height: auto;
  font-size: 12px;
  line-height: 18px;
  color: #959595;
}

.radio-group .checkbox-wrap:not(:last-child) {
  margin-right: 15px;
}

.checkbox-wrap.with-text .checkbox {
  top: 2px;
}

.step-modal-content .twin-grid {
  grid-row-gap: 15px;
}

.modal_action_btns {
  margin-top: 30px;
}

.modal_action_btns .box-btn:not(:last-child) {
  margin-right: 20px;
}

.modal_action_btns .box-btn {
  padding-left: 24px !important;
  padding-right: 24px !important;
}

.totalPrice {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #454CDE;
}

.twin-grid.tripple {
  grid-template-columns: 1fr 1fr 1fr;
}

.four_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 24px;
}

.title-4 {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #959595;
  position: relative;
  margin-bottom: 20px;
}

.title-4::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #D9D9D9;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  z-index: -1;
}

.title-4 span {
  display: inline-block;
  background-color: #fff;
  z-index: 1;
  padding-right: 10px;
}

.input-inside.one_fourth {
  grid-column: 1/4;
}

.four_grid textarea.form-control {
  height: 40px;
}

.fm_content .fm_info_rw:not(:last-child) {
  margin-bottom: 50px;
}

.step-top-info.plc-2 {
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  border-radius: 6px;
  padding: 30px;
}

.modal_action_btns.type-2 {
  background: #EDEDED;
  border-radius: 6px;
  padding: 24px;
}

.checkbox-wrap.round .checkbox {
  border-radius: 50%;
}

.checkbox-wrap.round input[type="checkbox"]:checked+.checkbox,
.checkbox-wrap.round input[type="radio"]:checked+.checkbox {
  background-color: transparent;
  border-color: var(--primary);
}

.checkbox-wrap.round .checkbox::after {
  width: 80%;
  height: 80%;
  border: 0;
  background-color: var(--primary);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.type-2 .totalPrice {
  color: #000;
}

.four_grid .form-control,
.four_grid .form-select {
  background-color: transparent;
}

.checkbox-wrap.with-text.existcheck {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #454CDE;
  margin-bottom: 15px;
}

.checkbox-wrap.with-text.existcheck .checkbox {
  border-color: var(--primary);
}

/* apply-visa page css end */

/* report page css start */
.rpt-filter-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  align-items: flex-end;
}

.form-btns .box-btn {
  height: 40px;
  min-width: 100px;
}

.form-btns button:not(:last-child) {
  margin-right: 10px;
}

.cmn-blk {
  border: 1px solid #EDEDED;
  border-radius: 6px;
  padding: 20px;
  background-color: #EDEDED;
}

.table.type-2 {
  min-width: 1590px;
}

.table-responsive-xl.type-2 {
  max-width: 100%;
  overflow-x: scroll;
}

.table.type-2 tr th:last-child,
.table.type-2 tr td:last-child {
  padding-right: 20px;
  width: 355px;
}

.type-2 .tbl-action-wrap button:not(:last-child) {
  margin-right: 10px;
}

.table-up-crud {
  margin-bottom: 20px;
}

.cmn-blk .form-select,
.cmn-blk .form-control {
  background-color: #fff;
}

.table-up-crud .box-btn svg path {
  transition: .3s;
  stroke: var(--secondary);
}

.table-up-crud .box-btn:hover svg path {
  stroke: #fff;
}

/* report page css end */

/* media query */
@media screen and (max-width: 1439px) 
{
  .cell_content p {
    max-width: 370px;
  }

  .table {
    min-width: 900px;
  }
}

@media screen and (max-width: 1199px) 
{
  .sidebar {
    left: -100%;
  }

  .sidebar+.v-flex {
    margin-left: 0;
  }

  .menu_bar {
    background: none;
    border: 0;
    width: 28px;
    height: 28px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-left: -3px;
  }

  .header-area {
    padding: 18px 0px;
  }

  .sidebar.show {
    left: 0;
  }

  .four_grid {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .input-inside.one_fourth {
    grid-column: 1/3;
  }

  .rpt-filter-wrap {
    grid-column-gap: 15px;
  }
}

@media screen and (max-width: 991px) 
{
  .apply-form {
    grid-template-columns: 1fr;
  }

  .visa-pricing-wrapper {
    grid-template-columns: 1fr 1fr;
    grid-gap: 24px;
  }

  .additional-info-wrapper {
    grid-template-columns: 1fr;
  }

  .additional-info-wrapper .ad-part:nth-child(2) {
    border-top: 1px solid #E3E8F3;
    border-bottom: 1px solid #E3E8F3;
    border-left: 0;
    border-right: 0;
  }

  .bookmarks-wrapper {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }

  .four_grid {
    grid-template-columns: 1fr 1fr;
  }

  .input-inside.one_fourth {
    grid-column: 1/2;
  }

  .rpt-filter-wrap {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 767px) 
{
  .tbl-search {
    max-width: 100%;
  }

  .page-link {
    margin: 0 6px;
  }

  .enquiry-wrap {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    text-align: center;
  }

  .primary-title {
    font-size: var(--fs_xl);
  }

  .enquery-modal-content .twin-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-gap: 18px;
  }

  .input-inside label {
    margin-bottom: 6px;
  }

  .visa-pricing-wrapper {
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }

  .bookmarks-wrapper .lf {
    display: flex;
    flex-wrap: wrap;
  }

  .apply-form {
    padding: 20px 16px;
  }

  .twin-grid {
    grid-column-gap: 16px;
  }

  .apply-btns button:not(:last-child) {
    margin-right: 14px !important;
  }

  .process-type h3 {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 24px;
  }

  .tripple-button {
    grid-template-columns: 1fr;
    grid-gap: 15px;
  }

  .step-modal-content {
    padding: 34px 16px;
  }

  .steps li:not(:last-child) {
    margin-right: 0;
  }

  .steps {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    padding: 20px 16px;
    margin-bottom: 30px;
  }

  .step-modal-content .twin-grid {
    grid-row-gap: 15px;
    grid-template-columns: 1fr;
  }

  .step-top-info h3 {
    font-size: 22px;
  }

  .totalPrice {
    text-align: center;
  }

  .four_grid {
    grid-template-columns: 1fr;
  }

  .input-inside.one_fourth {
    grid-column: 1/2;
  }

  .step-top-info.plc-2 {
    padding: 20px 16px;
  }

  .rpt-filter-wrap {
    grid-template-columns: 1fr;
  }
}
.fs-14
{
  font-size: 14px !important;
}
.modal-header {
  background-color: #6941C6;
  border-bottom: 1px solid #D9D9D9;
  color: white;
  border-radius: 10px;
  margin: -2px;
}
.modal-header .btn-close {
  padding: calc(var(--bs-modal-header-padding-y) * .5) calc(var(--bs-modal-header-padding-x) * .5);
  margin: calc(0.5 * var(--bs-modal-header-padding-y)) calc(-1.5 * var(--bs-modal-header-padding-x)) calc(1.1 * var(--bs-modal-header-padding-y)) auto;
}
.btn-close {
  box-sizing: content-box;
  width: 1em;
  height: 1em;
  padding: 0.25em 0.25em;
  color: #000;
  background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
  border: 0;
  border-radius: 1.375rem;
  opacity: 1.5;
  background-color: white !important;
  margin-top: -34px !important;
}
.modal-title {
  font-size: var(--fs_xl);
  font-weight: var(--fw_medium);
  color: white !important;
}
#menu1 ul
{
  padding-left: 35px;
}
.select2-container {
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    position: relative;
    vertical-align: middle;
    width: 227.72px !important;
}
.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 5px;
}
.select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 40px;
    user-select: none;
    -webkit-user-select: none;
    /* padding: 4px; */
}
.w-72
{
    width: 72%;
}
.w-125
{
    width: 125%;
}
.ml-58
{
    margin-left:-58px;
}
.ml-53
{
    margin-left:-53px;
}